.addtournament{
    width: 400px;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 10%;
    margin-right: auto;
    background:#fff;
    border: 1px solid #dddfe2;
    box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.addtournament > input{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
}

select,ul{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
}