.manager{
    width: 600px;
    height: 100px;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 10%;
    margin-right: auto;
    background:#fff;
    border: 1px solid #dddfe2;
    box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
.manager > Button{
    width: 150px;
    background:rgb(79, 9, 241);
    border: 1px solid #155fcf;
    box-shadow:0 2px 4px rgba(5, 1, 1, 0.1), 0 8px 16px rgba(12, 11, 11, 0.1);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}